body {
    margin: 5rem;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 2rem;
    background-color: white;
    border-radius: 4px;
    align-content: center;
}

#form {
    width: 300px;
    margin: 250px auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#h1 {
    color: #0f2027;
    text-align: center;
}

.signup {
    padding: 1rem 5rem;
    margin-top: 20px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    font-size: large;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.text {
    color:skyblue;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 5px;
}
.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
    background-color: #d8dcd6;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 90%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.error{
    border-color: #ff3860;
    color: #ff3860;
    font-size: 10px;
    height: 20px;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}