<!doctype html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}"/>
    <script defer src="{{ url_for('static', filename='/scripts/index.js') }}"></script>
</head>
<body>
    <div class="container">
        <form id="forms" action="login" method="post">
            <h1>Registration</h1>
            <div class="input-control">
                <b><label for="username" style="color:skyblue">Username</label></b>
                <input id="username" name="username" type="text">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <b><label for="email" style="color:skyblue">Email</label></b>
                <input id="email" name="email" type="text">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <b><label for="password" style="color:skyblue">Password</label></b>
                <input id="password"name="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <b><label for="password2" style="color:skyblue">Confirm password</label></b>
                <input id="password2"name="password2" type="password">
                <div class="error"></div>
            </div>
            <button type="submit" id="myButton">Sign Up</button>
        </form>
    </div>
</body>
</html>