*{margin: 0;
    padding: 0}

.html,code {
    font: 15px/22px arial, sans-serif
}

.html {
    background: #fff;
    color: #222;
    padding: 15px
}

body {
    color: #222;
    text-align: unset;
    margin: 7% auto 0;
    max-width: 390px;
    min-height: 180px;
    padding: 30px 0 15px;
    background: url("{{ url_for('static', filename='/images/error/404-bot.png') }}") 100% 5px no-repeat;
    padding-right: 205px;
}

.body{
    background: url("{{ url_for('static', filename='/images/error/404-bot2.png') }}");
}

.p {
    margin: 11px 0 22px;
    overflow: hidden;
}

.pre {
    white-space: pre-wrap;
}

.ins{
    color:#777;
    text-decoration: none;
}

.a img {
    border: 0
}