<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">
        {{ form.csrf_token }}

        {{ form.username.label }}: <br>
        {{ form.username }}<br><br>

        {{ form.email.label }}:<br>
        {{ form.email }}<br><br>

        {{ form.password.label }}:<br>
        {{ form.password }}<br>
        {% for errors in form.password.errors %}
            {{ errors }}
        {% endfor %}<br><br>

        {{ form.confirmpass.label }}:<br>
        {{ form.confirmpass }}<br>
        {% for errors in form.confirmpass.errors %}
            {{ errors }}
        {% endfor %} <br><br>

        {{ form.reg }}
    </form>
</body>
</html>
