<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>your uploaded file</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

                {{ message }}

            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1> Uploaded images </h1>
    {% for images in image %}

    <img src="{{ url_for('images', image=images) }}">

    {% endfor %}

    <p>upload more pictures <a href='/upload'>here</a></p>
</body>
</html>