<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}"/>
    <title>Flask Form</title>
</head>
<body>
    <div class="container">
        <form method="post" action="">
            <h1><centre>Registration</centre></h1>

            {{ form.csrf_token }}

            <div class="input-control">

                <div class="text">
                    {{ form.username.label }}
                </div>
                {{ form.username }}

            </div>

            <div class="input-control">

                {{ form.email.label }}
                {{ form.email }}

            </div>

            <div class="input-control">

                {{ form.password.label }}
                {{ form.password }}

            </div>

            <ul>
                {% for errors in form.password.errors %}
                    <li style="color:red;">{{ errors }}</li>
                {% endfor %}
            </ul>

            <div class="input-control">

                {{ form.confirmpass.label }}
                {{ form.confirmpass }}

            </div>

            <ul>
                {% for errors in form.password.errors %}
                    <li style="color:red;">{{ errors }}</li>
                {% endfor %}
            </ul>

            <div class="signup">

                {{ form.reg }}

            </div>

        </form>
    </div>
</body>
</html>
